.inquiry{
    margin: 0px 50px;
    padding-bottom: 30px;
}

.button{
    display: inline-block;
    height: 30px;
    width: 90px;
    background-color: rgb(57, 56, 56);
    color: white;
    border-radius: 2px;
    line-height: 30px;
    margin-right: 1px;
    font-size: 15px;
}

span[class='button'] p{
    padding-left: 10px;
}

.more_button{
    margin: 0px 50px;
    padding: 20px 0px 100px 0px;
    border-top: 1px solid rgb(212, 203, 203);
    text-align: center;
}

button{
    width: 122px;
    height: 48px;
    text-transform: uppercase;
    border-radius: 0%;
    background-color: white;
    cursor: pointer;
}