img{
    vertical-align: top;
}
.content{
    display: flex;
    padding-top: 268px;
    
}
.left_content{
    width: 590px;
    padding-right: 30px;
}
.right_content{
    border-left: 1px solid rgb(212, 203, 203);
}

.feed{
    width: 330px;
    padding: 0px 28px;
    margin-top: 80px;
}


.feed_image{
    padding-top: 30px;
}

.feed_title{
    font-weight: bold;
    font-size: 23px;
    padding: 12px 0px;
}

.brand_name{
    font-size: 11px;
    font-weight: bold;
}
.product_name{
    font-size: 11px;
    padding-bottom: 10px;
}
.price{
    font-size: 11px;
}
.sale_price{
    font-size: 11px;
    color: red;
}
.item_list{
    margin-top: 25px;
    border-top: 1px solid rgb(212, 203, 203); 
    display: flex;
    justify-content: space-between;
}
.item{
    height: 80px;   
    display: flex;
    align-items: center
}

.item_info{
    padding-left: 20px;
}

.heart{
    padding: 30px;
    border-left: 1px solid rgb(212, 203, 203);  
}
.slide_wrapper{
    width: 330px;
    padding: 0px 28px;
    margin-top: 80px;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.slide_wrapper img{
    padding: 0px 75px;
}

.slide_flex{
    display: flex;
    padding: 15px 0px;
    border-bottom: 1px solid rgb(78, 76, 76);
}
.prev{
    position: absolute;
    top: 130px;
    left: 30px;
}
.next{
    position: absolute;
    top: 130px;
    right: 30px;
}